<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.collectiva.tailoringordertracking">

    <!-- To Enable the Network Permission in the Application -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SEND_SMS permission -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cloth"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cloth"
        android:supportsRtl="true"
        android:theme="@style/AppThemeActionBar">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Home"
            android:label="Tailoring Order Tracking">

        </activity>
        <activity
            android:name=".Register"
            android:label="Create a New Account"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:label="Tailoring Order Tracking">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeMenu"
            android:label="Home"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Item"
            android:label="Item"
            android:parentActivityName=".HomeMenu">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenu" />
        </activity>
        <activity android:name=".ItemAdd" />
        <activity android:name=".ItemModify" />
        <activity
            android:name=".MyOrders"
            android:label="Order List"
            android:parentActivityName=".HomeMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenu" />
        </activity>
        <activity
            android:name=".MakeList"
            android:label="@string/title_activity_make_list"
            android:parentActivityName=".HomeMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenu" />
        </activity>
        <activity
            android:name=".ReadyList"
            android:label="@string/title_activity_ready_list"
            android:parentActivityName=".HomeMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenu" />
        </activity>
        <activity android:name=".LogoutActivity" />
        <activity
            android:name=".UpdateUser"
            android:label="Edit Profile"
            android:parentActivityName=".HomeMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenu" />
        </activity>
        <activity
            android:name=".Order"
            android:label="Order"
            android:parentActivityName=".HomeMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenu" />
        </activity>
        <activity
            android:name=".OrderEntry"
            android:label="Order Entry"
            android:parentActivityName=".HomeMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenu" />
        </activity>
        <activity
            android:name=".OrderItems"
            android:label="Order Entry > Order Items Entry"
            android:parentActivityName=".Order">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Order" />
        </activity>
        <activity
            android:name=".DeliveredList"
            android:label="Delivered List"
            android:parentActivityName=".HomeMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMenu" />
        </activity>
        <activity
            android:name=".AddOrderItems"
            android:label="Order Items Entry"
            android:parentActivityName=".OrderEntry">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrderEntry" />
        </activity>
        <activity
            android:name=".ImportItems"
            android:label="Import Items"
            android:parentActivityName=".Item">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Item" />
        </activity>
    </application>

</manifest>